ul{
    list-style-type: none;
    background-color: #888 ;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: fixed;

}
li{
    float: left;
}
li a{
    display: block;
    border-right: 1px solid #fff;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
}
li a:hover{
    background-color: #1ff6f9;
}
